@import url('../../global.css');

* {
    color: var(--fc-select);
}

.header {
    height: var(--hgt-divLogo-header);
    width: 100%;
    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: var(--bg-header-sideBar);
    border-bottom: 1px solid #575757;
}

.header > h1 {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.01em;
}

.header .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header .newTask {
    width: 164px;
    height: 48px;
    border-radius: 24px;

    background-color: var(--fc-emphasis);
}