@import url('../../global.css');

.d-none{
    display: none;
}

.sideBar {
    max-width: 250px;
    height: 100vh;

    background-color: var(--bg-header-sideBar);
    border-right: 1px solid #575757;
}

.divLogo {
    height: var(--hgt-divLogo-header);
    padding-left: 34px;


    display: flex;
    align-items: center;
    gap: 14px;
}

.divLogo img {
    width: 24px;
}

.divLogo h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.boards p, input {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--fc-noSelect);
}

.boards p, .boards button {
    display: flex;
    align-items: center;
}

.boards p, .boards button, #labelNewElement {
    height: 48px;
    width: 230px;
    padding-left: 34px;
    margin-right: 20px;

    --radius: calc(48px/2);
    border-radius: 0 var(--radius) var(--radius) 0;
    
    cursor: pointer;
 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}
      
#labelNewElement input {
    max-width: 160px;
    padding: 10px 0;
}

.boards ul > button {
    color: var(--fc-noSelect);
}

.boards button {
    font-size: 17px;
}


.boards .selected {
    background-color: var(--fc-emphasis);
    color: var(--fc-select);
    font-weight: 700;
}

.boards img {
    margin-right: 16px;
}

.buttonNewBoard {
    color: var(--fc-emphasis);
    font-weight: 700;
}

