@use '../../../global-teste.scss' as config;
@import '../menuOptions/menuOption.scss';

.header {
    height: config.$height-header;
    width: 100%;
    padding: 0 24px;
    color: config.$color-fontMain;

    @include config.flex(space-between, center);
    background-color: config.$color-header;
    border-bottom: 1px solid #575757;

    .boxLogoMobile {
        color: config.$color-fontMain;
        @include config.flex(center, center);
        gap: 20px;

        max-width: calc(100% - 200px);
    }
    h1, input {
        color: inherit;
        font-weight: 700;
        font-size: 25px;
        letter-spacing: -0.01em;
    }
    .options {
        color: inherit;
        @include config.flex(center, center);
        gap: 24px;
    }
    .newTask{
        color: inherit;
        border-radius: 24px;

        background-color: config.$color-emphasis;

        &:hover{
            border: 1px solid #fff;
            cursor: pointer;
            transform: scale(1.02);
        }
    }
    .containerMenuOptions {
        position: relative;
    }
    .containerMenuOptions > button {
        width: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 600px) {
    .header {
        .newTask{
            width: 150px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 599px) {
    .header {
        height: calc(config.$height-header - 10px);

        .newTask{
            @include config.flex(center, center);
    
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
        .boxLogoMobile {
/*             @include config.flex(center, center);
            gap: 20px;

 */        }
        h1, input {      
            font-size: 20px;
            margin-right: 20px;
        }
    }
}