@use '../../../global-teste.scss' as config;

.d-none{
    display: none;
}

.sideBar {
    max-width: 250px;
    height: 100vh;
    transition: transform 0.3s ease;

    background-color: config.$color-header;
    border-right: 1px solid #575757;

    .divLogo {
        height: config.$height-header;
        padding-left: 34px;

        @include config.flex(none, center);
        gap: 14px;

        img {
            width: 24px;
        }
        h1 {
            font-size: 36px;
            font-weight: 700;
            letter-spacing: -0.03em;
        }
    }

    .boards {
        .boxCloseSideBar {
            display: flex;
            width: 230px;
            button {
                padding: 10px;
                rotate: -90deg;
                &:hover {
                    rotate: 0deg;
                    transition: 0.5s;
                }
            }
        }

        p, button {
            @include config.flex(none, center);
            gap: 16px
        }

        p, #areaProjectsButton > button, #labelNewElement, .buttonNewBoard {
            height: 48px;
            width: 230px;
            padding-left: 34px;
            margin-right: 20px;
        
            $radius: calc(48px/2);
            border-radius: 0 $radius $radius 0;
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;   
        }

        button, #labelNewElement {
            cursor: pointer;
        }

        #labelNewElement > input{
            max-width: 160px;
            padding: 10px 0;            
        }

        ul > button {
            color: config.$color-fontSub;
            &:hover {
                color: config.$color-fontMain
            }
        }

        button {
            font-size: 17px;
        }

        .selected {
            background-color: config.$color-emphasis;
            color: config.$color-fontMain;
            font-weight: 700;
        }

        .boards img {
            margin-right: 16px;
        }

        .buttonNewBoard {
            color: config.$color-emphasis;
            font-weight: 700;
        }
    }
}

.boards p, input{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: config.$color-fontSub;        
}