@use '../../global-teste' as config;

#boxSlogan {
    @include config.flex(flex-start, center);
    gap: 20px;
    .slogan{
        @include config.flex(flex-start, flex-end);
        flex-direction: column;
        gap: 10px;

        max-width: 220px;
        text-align: right;
        li {
            font-weight: 700;
            font-size: 30px;
        }
        p {
            font-weight: 700;
            font-size: 20px;
            color: #6D6D6D;
        }
    }
    
}

@media screen and (min-width: 600px){
    #boxSlogan{
        width: 50%;
        img{
            margin-right: 30px;
            width: 50%;
            max-width: 200px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    #boxSlogan{
        .slogan{
            li {
                font-size: 22px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 599px){
    #boxSlogan{
        @include config.flex(center, center);
        width: 100%;
        padding: 30px;
        img{
            margin-right: 0;
            width: 50%;
            max-width: 160px;
        }
    }

    .buttonsMobileLogin {
        @include config.flex(center, center);
        gap: 10px;

        .buttonLogin, .buttonRegister {
            font-size: 20px;
            padding: 5px 14px;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
                border: 1px solid black;
            }
        }
        .buttonLogin{
            background-color: config.$color-emphasis;
            color: config.$color-fontMain;
        }
    }
}