@use '../../global-teste' as config;

#boxSlogan {
    @include config.flex(flex-start, center);
    gap: 20px;
    .slogan{
        @include config.flex(flex-start, flex-end);
        flex-direction: column;
        gap: 10px;

        max-width: 220px;
        text-align: right;
        li {
            font-weight: 700;
            font-size: 30px;
        }
        p {
            font-weight: 700;
            font-size: 20px;
            color: #6D6D6D;
        }
    }
    
}

@media screen and (min-width: 600px){
    #boxSlogan{
        width: 50%;
        img{
            margin-right: 30px;
            width: 50%;
            max-width: 200px;
        }
    }
}
@media screen and (max-width: 599px){
    #boxSlogan{
        width: 100%;
        padding: 30px;
        img{
            margin-right: 0;
            width: 50%;
        }
    }
}