:root {
    --bg-header-sideBar: rgb(44, 44, 56);
    --bg-tasks: #21212D;
    --fc-select: rgb(255, 255, 255);
    --fc-noSelect: rgb(110, 113, 128);
    --fc-emphasis: rgb(101, 93, 202);

    --hgt-divLogo-header: 97px;
}