@import url('../../global.css');

.centerObjects {
    position: relative;
    height: 85%;
}

.taskArea {
    max-height: 100%;

    display: flex;
    gap: 24px;
    padding: 20px;
}

.taskArea > .colluns{
    width: 33%;
}

.taskArea > .colluns > p {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;

    letter-spacing: 0.25em;
}


.taskArea .card{
    width: 100%;
    border-radius: 10px;
    padding: 20px 18px;
    margin-top: 20px;

    text-align: left;

    background-color: var(--bg-header-sideBar);
}

.taskArea .card:hover {
    transition: 0.3s;
    box-shadow: 0px 6px 0px -1px rgba(255, 255, 255, 0.25);
}

.taskArea .card .taskName {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -5.5%;

    color: #FFFFFF;
}

.taskArea .card .totalTasks {
    margin-top: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 13px;

    letter-spacing: -0.04em;

    color: #8E9099;
}

.showInfoTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*     width: 300px;
    height: 200px;
    background-color: #ccc;
 */
}
